<div>
  <table style="margin:400px;">
    <tr><td>Products Id</td>
      <td>{{products.id}}</td>
    </tr>
		<tr>
      <td>Name</td>
      <td>{{products.name}}</td>
    </tr>
		<tr>
      <td>Category Id</td>
      <td>{{products.category_id}}</td>
    </tr>
		  <tr>
        <td>Category Name </td>
        <td>{{products.categoryName}}</td>
      </tr>
			<tr>
        <td>Price</td>
        <td>{{products.price}}</td>
      </tr>
      <tr><td><input type="number" placeholder="order quantity" ></td></tr>
  <table>
    <a  style="margin-left:400px;margin-top:-780px" href="" class="btn btn-primary">place order</a>
</div>
